<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <application>
        <service
            android:name=".service.PasskeyAutofillCredentialProviderService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/passkey_autofill_label"
            android:permission="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE"
            tools:targetApi="upside_down_cake">
            <intent-filter>
                <action android:name="android.service.credentials.CredentialProviderService" />
            </intent-filter>
            <meta-data
                android:name="android.credentials.provider"
                android:resource="@xml/provider" />
        </service>
        <activity android:name="co.algorand.passkeyautofill.GetPasskeyActivity" 
            android:exported="true" 
            android:launchMode="singleTop"
            android:theme="@style/Theme.PasskeyAutofill.Dialog">
            <intent-filter>
                <action android:name="co.algorand.passkeyautofill.GET_PASSKEY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="co.algorand.passkeyautofill.CreatePasskeyActivity" 
            android:exported="true" 
            android:launchMode="singleTop"
            android:theme="@style/Theme.PasskeyAutofill.Dialog">
            <intent-filter>
                <action android:name="co.algorand.passkeyautofill.CREATE_PASSKEY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
