<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <application>
        <service
            android:name=".service.PasskeyAutofillCredentialProviderService"
            android:enabled="true"
            android:exported="true"
            android:label="My Credential Provider"
            android:icon="@mipmap/ic_launcher"
            android:permission="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE"
            tools:targetApi="upside_down_cake">
            <intent-filter>
                <action android:name="android.service.credentials.CredentialProviderService" />
            </intent-filter>
            <meta-data
                android:name="android.credentials.provider"
                android:resource="@xml/provider" />
        </service>
        <activity android:name=".GetPasskeyActivity" android:exported="true">
            <intent-filter>
                <action android:name="co.algorand.passkeyautofill.GET_PASSKEY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".CreatePasskeyActivity" android:exported="true">
            <intent-filter>
                <action android:name="co.algorand.passkeyautofill.CREATE_PASSKEY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
